<!DOCTYPE html>  
<html>  

<head>
	<% include partials/head %>  
</head>

<body>

	<video playsinline autoplay muted loop id="bgvid">
	<source src="vid/279739896.mp4" type="video/mp4">
	</video>


	<!-- Navigation -->
	<% include partials/navbar %>

<div id="content-front" class="container">
	<div id="index_content" class="container-fluid">

		<div class="row">
			<div class="col-sm-12 text-center">

				<h1>VONN</h1>
				<h2>Simple Video Annotation</h2>
				<p class="lead">An agency focused solution to client/creative collaboration.</p>
				<p> Login below: </p>
				<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>

			</div>
		</div>

		<div class="clearfooter"></div>
	</div>
</div>

<footer id="footer-body" class="navbar navbar-default navbar-fixed-bottom">
			<div class="col-sm-12 text-center">
				<p>Rhea Rivera &copy; 2016 | <a href="https://github.com/rjuner/ynote"  target="_blank" >GitHub</a></p>
			</div>
</footer>

</body>

</html>  