<% include partials/head %>

<% include partials/navbar %>

<body>
	<div id="content-wrap" class="container">

		<div id="user_container" class="row">
			<div class="col-sm-12">
				<span><strong>Logged in as</strong>: <%= user.google.name ? user.google.name : '' %></span><br>
			</div>
		</div>


		<div id="url_container" class="row">

			<div class="col-sm-12">
				<input type="text" id="user_url" placeholder="https://www.youtube.com/watch?v=exampleID" />
				<button id="addurl">Add URL</button>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-8">

				<!-- Input URL -->	
				<div id="get_id" name="url_name" required></div>
				<br /> 

				<!-- Player -->
				<div id="video_url"></div>
				<div id="youtube_id"></div>
				<div class="video-wrapper">
					<img id="fox" src="/img/fox_holder_copy.jpg" />
					<div id="player"></div>
				</div>

					<div class="col-sm-2">
						<div id="test">
						<!-- Comment Box -->
							<div id="currenttime"></div>
							<div id="timeHolder"></div>
						</div>
					</div>

					<div class="col-sm-10">
						<div id="test">
						<!-- Comment Box -->
							<textarea id="user_comment"></textarea>
						</div>
					</div>

					<button id="add_comment">Add Comment</button>
					<div id="actionbutton"></div>

			</div>

			<div id="comment_container" class="col-sm-4">


				<!-- User Comments -->

				<h5>Comments here:</h5>

				<!-- <button id="make_comment">Make Comment?</button> -->


				<!-- <button id="consoletime">nice time console log</button>
				<br /> 
				<button id="seekto">Seek To</button> -->

				<!-- actual comments should appear here -->
				
				<!-- React stuff  -->

				<div id="comment_area"></div>

			</div>
		</div>

						
		<div class="clearfooter"></div>
	</div>

<footer id="footer-body" class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">

		<div class="row">
			<div class="col-sm-12 text-center">
				<p>Rhea Rivera &copy; 2016 | <a href="https://github.com/rjuner/ynote">GitHub</a></p>
			</div>
		</div>

	</div>
</footer>

	<!-- App Scripts -->
	<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
	<script src="app.js"></script>

</body>
</html>