<!DOCTYPE html>
<html>
<head>
	<title>TEST PAGE</title>
</head>
<body>


	<form action="/submit" method="post">
  <input type="text" name="fname" required>
  <input type="submit" value="Submit">
	</form>

</body>
</html>